## Projeto prático em equipe
# <font color=blue>Desenvolvimento e comparação de modelos de Aprendizado de Maquina.
---

**Alunos** |

*Antonio Sergio Cruz Silva Filho* - 1272023424

*Bruno Ribeiro Seixas* - 12720111021

*Ivan Araujo Ribeiro Neto* - 1272019300

*Noah Italo Da Cunha Ugalde* - 1272019847

*Victor Manoel Soares Silva Alves* - 12720110508

**Docente** |

Prof. *Galdir Damasceno Reges Junior*

## Objetivo geral

Com este treinamento temos o objetivo de prever, o preço dos celulares com base em suas respectivas especificações de hardware.

## Objetivos específicos

Em nosso conjunto de dados existe várias caracteristicas de um aparelho celular, tais como: velocidade do processamento, RAM, tamanho da bateria, se possui ou não wi-fi. Por meio destes pretendemos verificar o valor estimado do aparelho.

## Modificando os dados aleatoriamente.

In [19]:
import pandas as pd
import numpy as np
from random import randint
dados = pd.read_csv('../data/archive/train.csv')

In [34]:
## Escolhendo 3% de 10% de 2000 linhas aleatórias.
nAleatorios = [(randint(1, 2000)) for i in range(12)]
print(nAleatorios)
## Apagando as 12 linhas aleatórias.
dados.drop(nAleatorios, axis = 0, inplace = True)

dados.describe()

[1917, 563, 1731, 1558, 213, 1835, 505, 1897, 28, 1547, 1119, 133]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,...,1975.0000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000
mean,1237.498734,0.497215,1.521063,0.507342,4.315949,0.521519,32.068354,0.501114,140.317975,4.525570,...,646.3600,1251.280000,2124.180253,12.295696,5.745316,11.041013,0.762532,0.501266,0.506835,1.500253
std,440.032346,0.500119,0.814448,0.500073,4.341364,0.499663,18.130504,0.288410,35.402908,2.285638,...,443.7493,432.282059,1083.680933,4.222372,4.354416,5.469158,0.425639,0.500125,0.500080,1.118544
min,501.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.0000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,850.500000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,286.0000,874.000000,1208.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.500000
50%,1225.000000,0.000000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,569.0000,1247.000000,2146.000000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,2.000000
75%,1615.500000,1.000000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,949.0000,1633.000000,3063.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.500000
max,1998.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.0000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [ ]:
## Substituindo 3% de 10% de 2000 linhas aleatórias.