![Unifacs Logo](https://1.bp.blogspot.com/-nQ1rTm-IZnw/TxX9iNGJTGI/AAAAAAAAEEY/KmoFul3QdDc/s1600/aunifacs_laureate%2528hi_res%2529.jpg "Unifacs Logo")

## *Projeto prático em equipe*
# **Desenvolvimento e comparação de modelos de Aprendizado de Maquina.**

**Alunos** |

*Antonio Sergio Cruz Silva Filho* - 1272023424

*Bruno Ribeiro Seixas* - 12720111021

*Ivan Araujo Ribeiro Neto* - 1272019300

*Noah Italo Da Cunha Ugalde* - 1272019847

*Victor Manoel Soares Silva Alves* - 12720110560

**Docente** |

Prof. *Galdir Damasceno Reges Junior*

---

# Objetivos

## Objetivo geral

Com este treinamento temos o objetivo de prever, o preço dos celulares com base em suas respectivas especificações de hardware.

**Link do dataset |**<br>
https://www.kaggle.com/code/vikramb/mobile-price-prediction/data

## Objetivos específicos

Em nosso conjunto de dados existe várias caracteristicas de um aparelho celular, tais como: velocidade do processamento, RAM, tamanho da bateria, se possui ou não wi-fi e diversos outros. Por meio destes dados, pretendemos verificar o valor estimado do celular aproximadamente.

# Enquadramento do Problema:
Especificação do tipo de problema: Quanto à Supervisão, Quanto à Tarefa, Quanto ao Modo | <br> **Null**<br><br>
Especificação das Medidas de Desempenho | <br>**Regressão**

## Modificando os dados aleatoriamente.

In [1]:
import pandas as pd
import numpy as np
from random import randint
dados = pd.read_csv('train.csv')

In [3]:
dados.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [23]:
## Transformando os dados do tipo Float em Int.
dados['clock_speed'] = dados['clock_speed'].astype(int)
dados['m_dep'] = dados['m_dep'].astype(int)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1986 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1986 non-null   int64
 1   blue           1986 non-null   int64
 2   clock_speed    1986 non-null   int64
 3   dual_sim       1986 non-null   int64
 4   fc             1986 non-null   int64
 5   four_g         1986 non-null   int64
 6   int_memory     1986 non-null   int64
 7   m_dep          1986 non-null   int64
 8   mobile_wt      1986 non-null   int64
 9   n_cores        1986 non-null   int64
 10  pc             1986 non-null   int64
 11  px_height      1986 non-null   int64
 12  px_width       1986 non-null   int64
 13  ram            1986 non-null   int64
 14  sc_h           1986 non-null   int64
 15  sc_w           1986 non-null   int64
 16  talk_time      1986 non-null   int64
 17  three_g        1986 non-null   int64
 18  touch_screen   1986 non-null   int64
 19  wifi           1986 non-null   int64
 20  price_range    1986 non-null   int64
dtypes: int64(21)
memory usage: 341.3 KB

In [52]:
# Gerando aleatoriamente valores das linhas dentro das colunas selecionadas.
VMinbattery_power = dados['battery_power'].min()
VMaxbattery_power = dados['battery_power'].max()
print(VMinbattery_power, VMaxbattery_power)
VMaxblue = dados['blue'].min()
VMinblue = dados['blue'].max()
print(VMinblue, VMaxblue)
VMinclock_speed = dados['clock_speed'].min()
VMaxclock_speed = dados['clock_speed'].max()
print(VMinclock_speed, VMaxclock_speed)
VMindual_sim = dados['dual_sim'].min()
VMaxdual_sim = dados['dual_sim'].max()
print(VMindual_sim, VMaxdual_sim)
VMinfc = dados['fc'].min()
VMaxfc = dados['fc'].max()
print(VMinfc, VMaxfc)
VMinfour_g = dados['four_g'].min()
VMaxfour_g = dados['four_g'].max()
print(VMinfour_g, VMaxfour_g)
VMinint_memory = dados['int_memory'].min()
VMaxint_memory = dados['int_memory'].max()
print(VMinint_memory, VMaxint_memory)  
VMinm_dep = dados['m_dep'].min()
VMaxm_dep = dados['m_dep'].max()
print(VMinm_dep, VMaxm_dep)
VMinmobile_wt = dados['mobile_wt'].min()
VMaxmobile_wt = dados['mobile_wt'].max()
print(VMinmobile_wt, VMaxmobile_wt)
VMinn_cores = dados['n_cores'].min()
VMaxn_cores = dados['n_cores'].max()
print(VMinn_cores, VMaxn_cores)
VMinpc = dados['pc'].min()
VMaxpc = dados['pc'].max()
print(VMinpc, VMaxpc)
VMinpx_height = dados['px_height'].min()
VMaxpx_height = dados['px_height'].max()
print(VMinpx_height, VMaxpx_height)
VMinram = dados['ram'].min()
VMaxram = dados['ram'].max()
print(VMinram, VMaxram)
VMinsc_h = dados['sc_h'].min()
VMaxsc_h = dados['sc_h'].max()
print(VMinsc_h, VMaxsc_h)
VMinsc_w = dados['sc_w'].min()
VMaxsc_w = dados['sc_w'].max()
print(VMinsc_w, VMaxsc_w)
VMintalk_time = dados['talk_time'].min()
VMaxtalk_time = dados['talk_time'].max()
print(VMintalk_time, VMaxtalk_time) 
VMinthree_g = dados['three_g'].min()
VMaxthree_g = dados['three_g'].max()
print(VMinthree_g, VMaxthree_g) 
VMintouch_screen = dados['touch_screen'].min()
VMaxtouch_screen = dados['touch_screen'].max()  
print(VMintouch_screen, VMaxtouch_screen)
VMinwifi = dados['wifi'].min() 
VMaxwifi = dados['wifi'].max()
print(VMinwifi, VMaxwifi)
VMinprice_range = dados['price_range'].min()
VMaxprice_range = dados['price_range'].max()
print(VMinprice_range, VMaxprice_range)

## Pegando o número de colunas
nColunas = dados.shape[0]

# O número de colunas é equivalente a 3% do total de linhas como está definido abaixo
colunasSelecionadas = int((3/100)*nColunas)
print(colunasSelecionadas)
print('Numero de colunas é: '+ str(nColunas))

##A = [(randint(VMin, VMax)) for i in range(colunasSelecionadas)]
Abattery_power = [(randint(VMinbattery_power, VMaxbattery_power)) for i in range(colunasSelecionadas)]
Ablue = [(randint(VMinblue, VMaxblue)) for i in range(colunasSelecionadas)]
Aclock_speed = [(randint(VMinblue, VMaxblue)) for i in range(colunasSelecionadas)]
Adual_sim = [(randint(VMindual_sim, VMaxdual_sim)) for i in range(colunasSelecionadas)]
Afc = [(randint(VMinfc, VMaxfc)) for i in range(colunasSelecionadas)]
Afour_g = [(randint(VMinfour_g, VMaxfour_g)) for i in range(colunasSelecionadas)]
Aint_memory = [(randint(VMinint_memory, VMaxint_memory)) for i in range(colunasSelecionadas)]
Am_dep = [(randint(VMinm_dep, VMaxm_dep)) for i in range(colunasSelecionadas)]
Amobile_wt = [(randint(VMinmobile_wt, VMaxmobile_wt)) for i in range(colunasSelecionadas)]
An_cores = [(randint(VMinn_cores, VMaxn_cores)) for i in range(colunasSelecionadas)]
Apc = [(randint(VMinpc, VMaxpc)) for i in range(colunasSelecionadas)]
Apx_height = [(randint(VMinpx_height, VMaxpx_height)) for i in range(colunasSelecionadas)]
Aram = [(randint(VMinram, VMaxram)) for i in range(colunasSelecionadas)]
Asc_h = [(randint(VMinsc_h, VMaxsc_h)) for i in range(colunasSelecionadas)]
Asc_w = [(randint(VMinsc_w, VMaxsc_w)) for i in range(colunasSelecionadas)]
Atalk_time = [(randint(VMintalk_time, VMaxtalk_time)) for i in range(colunasSelecionadas)]
Athree_g = [(randint(VMinthree_g, VMaxthree_g)) for i in range(colunasSelecionadas)]
Atouch_screen = [(randint(VMintouch_screen, VMaxtouch_screen)) for i in range(colunasSelecionadas)]
Awifi = [(randint(VMinwifi, VMaxwifi)) for i in range(colunasSelecionadas)]
Aprice_range = [(randint(VMinprice_range, VMaxprice_range)) for i in range(colunasSelecionadas)]

501 1998
1 0
0 3
0 1
0 19
0 1
2 64
0 1
80 200
1 8
0 20
0 1960
256 3998
5 19
0 18
2 20
0 1
0 1
0 1
0 3
59
Numero de colunas é: 1986

In [22]:
## Escolhendo 10% das colunas de forma aleatória.
cAleatorias = [(randint(0, 20)) for i in range(2)]
print(cAleatorias)

[13, 15]

In [ ]:
## Apagando as 12 linhas aleatórias.
dados.drop(cAleatorias, axis = 0, inplace = True)

dados.describe()

In [ ]:
## Escolhendo 3% de 10% de 2000 linhas aleatórias.
lAleatorias = [(randint(1, 2000)) for i in range(12)]
print(lAleatorias)

## Substituindo 12 linhas aleatórias.
dados.loc[lAleatorias]

[1626, 1008, 1979, 635, 1093, 1968, 414, 594, 1281, 1484, 544, 148]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1626,841,0,0.5,0,6,1,11,0.3,81,5,...,125,675,957,6,5,11,1,1,0,0
1008,1977,0,1.3,1,2,0,31,0.4,173,8,...,1145,1356,2641,8,2,7,0,0,0,3
1979,1614,0,1.2,0,1,1,9,0.1,161,3,...,173,1219,1832,15,8,11,1,0,0,1
635,701,1,0.7,0,7,0,15,0.5,160,3,...,1002,1256,1756,6,3,17,1,1,1,1
1093,1403,1,2.5,1,3,0,62,0.9,90,4,...,217,1623,921,14,13,18,1,0,0,0
1968,1667,0,1.0,1,0,1,21,0.9,138,2,...,1211,1396,635,17,7,15,1,0,0,0
414,707,0,2.1,1,2,0,25,0.8,131,3,...,495,574,3838,9,2,7,1,0,1,3
594,621,1,2.7,1,0,0,54,0.1,151,4,...,434,910,2801,6,1,5,1,1,1,2
1281,1370,0,1.4,0,5,1,6,0.2,158,6,...,1392,1783,3703,13,10,11,1,1,0,3
1484,1689,1,0.5,0,11,0,9,0.5,150,5,...,467,675,2637,8,4,3,1,0,0,2
544,707,0,0.5,0,0,1,16,0.1,194,2,...,1027,1508,1853,17,14,12,1,1,1,1
148,1216,0,3.0,0,4,0,47,0.4,199,3,...,1852,1967,2268,13,5,4,0,1,1,2